@model Numbersfacts.Models.ModelDate;

@{
    ViewData["Title"] = "Дні народження";
}

<div class="text-center title" style="margin-top:50px; margin-bottom: 30px; font-family:'Comic Sans MS'; color: #05386b; margin-left:190px">
    <h1 class="display-4" style=" font-size:40px; border-radius:30px; background-color:white; width:700px; border: 1px solid #05386b"><strong>Відомі люди, які відзначають день народження у цей день</strong></h1>
</div>
<div class="card col-md-12" style="background-color:#e9e8e9; width:700px; margin-left:200px; margin-top:70px">
    <form asp-action="BirthsDate" asp-controller="Events" method="post">
        <div>
        <div class="mb-3">
            <label class="form-label" style="font-size: 25px; color:#05386b">Введіть дату(у форматі 01/02, день/місяць)</label>
            <input type="text" asp-for="Date" class="form-control" style="font-size:20px; font-family:'Comic Sans MS'; text-align:center" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
            <button class="btn btn-primary float-right" type="submit" style="font-size:20px">Пошук</button>
        
        </div>
        
    </form>
</div>


<div>
    @{
        if (@Model.Births != null)
        {
            <div class="container" style="margin-top:1em; font-family: stext-alignif; font-size:22px; background: #e9e8e9; border: 3px solid #05386b">

                <table>
                    <tr>
                        <td>
                            @for (int i = 0; i < Model.Births.Count; i++)
                            {
                                int a = i + 1;
                                <p> @a. @Model.Births[i]</p>
                            }
                       </td>
                    </tr>
                </table>
            </div>
          }         
       }
</div>

